# DT-APP files
.dt-app/*
!/.dt-app/deployment.json

# Compiled output
/dist
/build
/tmp
/out

# Dependencies
node_modules/

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# IDE - VSCode - keep some settings files
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
!/.vscode/schemas

# System Files
.DS_Store
Thumbs.db

# Env file
.env

# Local settings secrets
settings/local-mock-data/secrets.properties
settings/local-mock-data/secrets.json
settings/local-mock-data/persistence/values.shadow.json